@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
body{
    font-family: 'Lato';
    font-size: 18px;
    background-image: url("file:///Users/ralphhernandez/sejan2020/04_style_restaurant_menu/src/img/map-bg.jpg");
}

nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}

h1 {
    font-family: 'Supermercado One';
    font-size: 45px;
    color: #5d4037;
}

#menu {columns: 400px 2; column-gap: 100px; column-rule: 2px dashed rosybrown;}
section {margin-bottom: 50px;}

h2 {
    margin: 0;
    font-variant: small-caps;
    color: #6d4c41}


dt {
    font-weight: bold;
    font-size: 20px;
}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {order: 2; padding-left: 10px; font-size: 16px; color: firebrick;}

address {
    padding: 10px;
    border: 2px dashed;
}